@model WhiskItUp.Models.UserRecipeMapping
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            @Html.AntiForgeryToken()

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <select asp-for="UserId" class="form-control"
                    asp-items="@(ViewData["UserId"] as SelectList)">
            </select>

            <select asp-for="RecipeId" class="form-control"
                    asp-items="@(ViewData["RecipeId"] as SelectList)">
            </select>


            <div class="form-group">
                <label asp-for="Rating" class="control-label"></label>
                <input asp-for="Rating" class="form-control" />
                <span asp-validation-for="Rating" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Comment" class="control-label"></label>
                <input asp-for="Comment" class="form-control" />
                <span asp-validation-for="Comment" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Favorite" class="control-label"></label>
                <input asp-for="Favorite" type="checkbox" class="form-check-input" />
                <span asp-validation-for="Favorite" class="text-danger"></span>
            </div>

            <div class="form-group mt-2">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
