@{
    ViewData["Title"] = "Home Page";
}

<style>
    .home-bg {
        background-image: url('/images/chef-food.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        min-height: 100vh;
        /* نضيف تدرج لوني نصف شفاف فوق الصورة لتسهيل قراءة النص */
        position: relative;
        color: white;
    }

        .home-bg::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.4); /* تدرج أسود نصف شفاف */
            z-index: 0;
        }

    .home-bg-content {
        position: relative;
        z-index: 1; /* النص فوق التدرج */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        text-align: center;
    }
</style>

<div class="home-bg">
    <div class="home-bg-content">
        <h1 class="display-4">Welcome</h1>
        <p>
           Go Information <a href="https://altibbi.com/%D9%85%D8%B5%D8%B7%D9%84%D8%AD%D8%A7%D8%AA-%D8%B7%D8%A8%D9%8A%D8%A9/%D8%AA%D8%BA%D8%B0%D9%8A%D8%A9/%D8%A7%D9%84%D8%BA%D8%B0%D8%A7%D8%A1-%D8%A7%D9%84%D8%B5%D8%AD%D9%8A" 
           style="color: #fff; text-decoration: underline;">vist information</a>.
        </p>
     
       
            
        </a>
    </div>
    <partial name="_Toprecipe" model="Model" />
</div>
